.spinner-container {
  --size: var(--spinner-size, 5px);
}

.spinner-container * {
  box-sizing: border-box;
  border-style: solid;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  animation: container 3s infinite;
  border-width: var(--size);
  width: calc(100% - var(--size));
  height: calc(100% - var(--size));
}

/* 
Getting the correct border to show has 
been buggy when bundled. Here is a working
version:
*/
.spinner-container * {
  border-left-color: var(--spinner-color);
  border-right-color: var(--spinner-color);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

@keyframes container {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
